#choice {
    height: 400px;
    display: inline-block;
    width: 100px;
  }
  
  #result {
    height: 330px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
  
  #bar {
    height: 0%;
    width: 70%;
    margin: 0 auto;
  }
  
  .bar[data-choice="1"] {
    background-color: red;
  }
  
  .bar[data-choice="2"] {
    background-color: green;
  }
  
  .bar[data-choice="3"] {
    background-color: blue;
  }
  
  .label {
    height: 70px;
    text-align: center;
  }